[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"h5json" ="*"
requests ="*"
keyring ="*"

[dev-packages]
pylint = "*"
black = "*"
rope = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
